.contact-container {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container a {
  text-decoration: none;
}

.contact-number {
  border: 1px solid #fff;
  display: flex;
  color: #D8D7CE;
  align-items: center;
  width: 10rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  justify-content: center;
  margin: 1rem 0;
}

.contact-number p {
  margin-left: 0.5rem;
}

@media screen and (min-width: 1440px) {
  .contact-container {
    display: none;
  }
}