header {
  align-items: center;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  text-transform: Uppercase;
}

.empty-space {
  width: 11%;
}

.logo {
  margin-top: .2rem;
}

.header-icon {
  background: none;
  border: none;
}

.menu-desktop {
  display: none;
}

@media screen and (min-width: 1440px) {
  .header-icon {
    display: none;
  }

  .menu-desktop {
    display: flex;
    color: #858479;
    font-size: 0.8rem;
    align-items: center;
  }

  .menu-desktop button {
    background: transparent;
    color: #858479;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .menu-desktop p, button {
    margin: 0 1rem;
  }

  .menu-desktop p:hover, button:hover {
    color: #fff;
  }

  .dropdown {
    display: flex;
    align-items: center;
  }
}

