.banner {
  display: none;
}

@media screen and (min-width: 1440px)  {
  .banner {
    align-items: center;
    background-image: url(../../assets/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: block;
    display: flex;
    flex-direction: column;
    height: 21rem;
    justify-content: center;
    text-transform: uppercase;
  }

  .banner-title {
    font-size: 2rem;
  }

  .banner-description {
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem;
  }

  .banner button {
    background: transparent;
    color: #fff;
    border: 0.15rem solid #ffffff;
    border-radius: 0.2rem;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    font-size: 0.8rem;
  }
}